.container {
  padding: 0px 10px 10px 30px;
  background: #f0f0f02e;
  box-shadow: -6px 6px 8px #491a02;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  column-gap: 50px;
}
li {
  list-style: none;
}
.container img {
  height: 30px;
}
