.header {
  background: #2b2929;
  position: relative;
  grid-area: header;
  border-radius: 5px;
}
.logo_wrupper {
  padding-left: 50px;
  padding-top: 5px;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
}
.logo {
  display: flex;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin-right: 10px;

  object-fit: cover;

  overflow: hidden;
  justify-content: center;

  align-items: center;
}
.logo_img {
  width: 190%;
}
.logo_wrupper h1 {
  color: #e5e5e5;
}
