.nav {
  background: #4d4b4b;
  grid-area: nav;
  border-right: 1px solid #aba8a8;
  padding-right: 30px;
  border-radius: 5px;
}
.nav ul {
  padding-top: 50px;
  padding-left: 50px;
}
.nav li {
  margin-bottom: 10px;
  list-style: none;
}
