body {
  color: #fff;
  background: #1b1414;
}
a {
  text-decoration: none;
  color: #fff;
}
.wrupper {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 80px 1fr 80px;
  gap: 5px;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
  max-width: 1360px;
  margin: 0 auto;
}
.content-wrupper {
  background: #f0f0f035;
  grid-area: main;
  border-radius: 5px;
  padding: 20px;
}
